@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverline {
  position: relative;
}


.hoverline::before {
  content: "";
  position: absolute;
  width: 100%; /* Adjusted width to 100% */
  height: 2px;
  bottom: 0;
  left: 0; 
  transform: translateX(-50%); 
  background-color: #366776;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.hoverline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ReactCollapse--collapse{
    transition: height 200ms;
}

.text-vertical{
    writing-mode: vertical-rl; /* vertical right-to-left */
    text-orientation: upright;
}
/* Add this to your stylesheet */
.transition-width {
  transition: width 350ms ease;
}

.transition-width.open {
  width: 100%;
}

.rotate-counterclockwise {
    transform: rotate(-90deg);
    transform-origin: left bottom; /* Adjust the origin based on your preference */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  


.menu-link {
  position: relative;
  padding-bottom: 4px;
  transition: border-bottom 0.3s ease-in-out;
}

.menu-link:hover {
  border-bottom: 2px solid #ffffff; /* Change the color to your desired hoverline color */
}

.submenu-link {
  /* Similar styles for submenu links if needed */
}


/* Navbar.module.css */

.servicesMenu {
  /* Add any additional styles for the main menu item */
}

.servicesSubMenu {
  display: block;
  position: absolute;
  background-color: #BC7F6C;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: top center;
}

.servicesSubMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.fadeInDown {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fadeInDown.active {
  opacity: 1;
  transform: translateY(0);
}

.hover-gray:hover {
  filter: invert(47%) sepia(5%) saturate(575%) hue-rotate(160deg) brightness(99%) contrast(90%);
  transition: filter 0.3s ease-in-out; 
}

.splashBg{
width: 67.5rem;
height: 67.5rem;
transform: rotate(123.753deg);
flex-shrink: 0;
}


.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

.no-scroll {
  overflow: hidden;
}
